* {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin: 0;
    transition: all 0.15s ease;
}

body.light {
    background: url('/background-tile-light.png');
}

body.light * {
    color: black;
}

body.dark {
    background: url('/background-tile-dark.png');
}

body.dark * {
    color: white;
}

@font-face {
    font-family: "DSEG7 Classic";
    src:
        url("/static/fonts/DSEG7Classic-BoldItalic.woff2") format("woff2"), /* Super Modern Browsers */ 
        url("/static/fonts/DSEG7Classic-BoldItalic.woff") format("woff"), /* Modern Browsers */ 
        url("/static/fonts/DSEG7Classic-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
}
